# Stellar network configuration
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_CONTRACT_ADDRESS=

# PrivacyLayer
NEXT_PUBLIC_PRIVACY_POOL_DENOMINATIONS=XLM,USDC
